*.lck
AutodeskWorkspace/OldVersions/
AutodeskWorkspace/rollerChainTest/
AutodeskWorkspace/rollerChainTest.iam
AutodeskWorkspace/robotparts revision 2/OldVersions/
AutodeskWorkspace/robot parts revision 3/OldVersions/
AutodeskWorkspace/machine screws and nuts/OldVersions/
